<div id='generated-url'>
  <p><b>Old url:</b> <a href='<%= url.url %>' target='_blank' rel='noopener noreferrer'><%= url.url %></a></p>
  <p><b>New url:</b> <a href='<%= url.short_url %>' target='_blank' rel='noopener noreferrer'><%= url.short_url %></a></p>
</div>